body {
    font-family: 'Itim', cursive;
}

.register-wrapper {
    position: relative;
    border: 1px solid #999;
    padding: 100px;
    color: #999;
    font-size: 1rem;
}

.register-wrapper * {
    box-sizing: border-box;
}

.register-block {
    position: relative;
    display: grid;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    grid-auto-flow: column;
    grid-template-columns: 1fr 3fr;
}



.login-link {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    font-size: larger;
}

.login-link a {
    text-decoration: none;
    color: #999;
}

.login-link a:hover {
    color: #988;
}