<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Lobby</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

    {% for message in messages %}
    <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="True">&times;</span>
            </button>
            {{ message }}
        </div>
    </div>
    {% endfor %}


    <h1> Chat here! </h1>

    <form action="" id="roomForm">
        <input type="text" id="roomInput"><br>
        <input type="submit" id="roomSubmit" value="Enter">
    </form>

    <script>

        const roomForm = document.getElementById('roomForm');

        roomForm.addEventListener('submit', (e) => {
            e.preventDefault();

            let roomName = e.target.roomInput.value.trim();

            window.location.pathname = `/chat/${roomName}/`;
        });

    </script>
</body>

</html>