<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Lobby</title>
</head>
<body>
    <h1> Chat here! </h1>

    <form action="" id="roomForm">
        <input type="text" id="roomInput"><br>
        <input type="submit" id="roomSubmit" value="Enter">    
    </form>

    <script>

        const roomForm = document.getElementById('roomForm');

        roomForm.addEventListener('submit', (e) => {
            e.preventDefault();

            let roomName = e.target.roomInput.value.trim();

            window.location.pathname = `/chat/${roomName}/`;
        });
        
    </script>
</body>
</html>