<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Chat Room </title>
</head>
<body>
    <textarea name="" id="chatLogs" cols="100" rows="20"></textarea><br>
    
    <form action="" id="chatForm">
        <input type="text" id="messageInput"><br>
        <input type="submit" id="messageSubmit">
    </form>
    {{ room_name|json_script:"roomName" }}
</body>

<script>
    const roomName = JSON.parse(document.getElementById('roomName').textContent);
    const chatSocket = new WebSocket(`ws://${window.location.host}/ws/socket-server/`);
    const chatLogs = document.getElementById('chatLogs');
    const chatForm = document.getElementById('chatForm');
    const messageInput = document.getElementById('messageInput');

    chatSocket.onmessage = (e) => {
        const data = JSON.parse(e.data);
        chatLogs.value += (data.message + '\n');
    }

    chatSocket.onclose = (e) => {
        console.error("Chat socket closed");
    }

    chatForm.addEventListener('submit', (e) => {
            e.preventDefault();

            let message = e.target.messageInput.value.trim();
            chatSocket.send(JSON.stringify({
                'message': message
            }));

            messageInput.value = "";
        });

</script>

</html>